{% extends "base.html" %}

{% load static %}

{% block title %}
  Review
{% endblock %}

{% block css %}
  <style>
    .correct-1 {
      border-color: green;
    }
    .correct-0 {
      border-color: red;
    }
  </style>
{% endblock %}

{% block content %}
<h3> Review {{ test.lesson }} | Test time: {{ test.test_time }} </h3>
<h4>Test score: {{ test.score }}/{{ test.num_of_quest }} </h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Question</th>
      <th scope="col">Your answer</th>
      <th scope="col">Correct answer</th>
    </tr>
  </thead>
  <tbody>
    {% for quest in quests %}
    <tr class="correct-{{ quest.correct }}">
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ quest.question }}</td>
      <td>{{ quest.answer }}</td>
      <td>{{ quest.result }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block js %}
{% endblock %}